
<robot name="torus">
    <link name="base">
        <inertial>
            <origin xyz="-0.0 -0.0 -0.0" />
            <mass value="0.2627" />
            <inertia ixx="0.0508" ixy="0.0" 
                     ixz="-0.0" iyy="0.0508" 
                     iyz="-0.0" izz="0.0987" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="visual_geometry.obj" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="collision_geometry.obj" />
            </geometry>
        </collision>
    </link>
</robot>
