<robot name="dome">
    <link name="base">
        <inertial>
            <origin xyz="0.0 0.0 0.0" />
            <mass value="0.0" />
            <inertia ixx="0.0" ixy="0.0" 
                     ixz="0.0" iyy="0.0" 
                     iyz="0.0" izz="0.0" />
        </inertial>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="collision_geometry.obj" />
            </geometry>
        </collision>
    </link>
</robot>
