
<robot name="torus_knot">
    <link name="base">
        <inertial>
            <origin xyz="0.0 -0.0 0.0" />
            <mass value="0.2724" />
            <inertia ixx="0.0429" ixy="0.0" 
                     ixz="-0.0" iyy="0.0429" 
                     iyz="0.0" izz="0.0699" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="visual_geometry.obj" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="collision_geometry.obj" />
            </geometry>
        </collision>
    </link>
</robot>
